<div class="container community__container">
    <img
        src="../assets/icons/star-green-small.png"
        alt=""
        class="community__inner--star community__inner--star-small1"
    />
    <img
        src="../assets/icons/star-green-small.png"
        alt=""
        class="community__inner--star community__inner--star-small2"
    />
    <img
        src="../assets/icons/star-green-small.png"
        alt=""
        class="community__inner--star community__inner--star-small3"
    />
    <img src="../assets/icons/star-green-big.png" alt="" class="community__inner--star community__inner--star-big1" />
    <img src="../assets/icons/star-green-big.png" alt="" class="community__inner--star community__inner--star-big2" />
    <div class="community__inner">
        <img src="../assets/img/avt1.png" alt="" class="community__inner--img community__inner--img1" />
        <img src="../assets/img/avt2.png" alt="" class="community__inner--img community__inner--img2" />
        <img src="../assets/img/avt-big.png" alt="" class="community__inner--img community__inner--img3" />
        <img src="../assets/img/avt-big2.png" alt="" class="community__inner--img community__inner--img4" />
        <img src="../assets/img/avt5.png" alt="" class="community__inner--img community__inner--img5" />

        <h2 class="community__inner--heading">More that 1M+ successful students</h2>
        <p class="community__inner--desc">
            Circuit is flexible and affordable and offers you exceptional support to achieve your career goals.
        </p>
        <div class="community__inner--btn btn">
            <a href="#!" class="btn--text">Get Started</a>
        </div>
    </div>
</div>
