<div class="container">
    <div class="footer__inner">
        <div class="footer__inner--column">
            <h3 class="footer__inner--title">Courses</h3>
            <ul class="footer__inner--list">
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Classroom Courses</a></li>
                <li class="footer__inner--item">
                    <a href="#!" class="footer__inner--link">Virtual Classroom Courses</a>
                </li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">E-Learning Courses</a></li>
            </ul>
        </div>

        <div class="footer__inner--column">
            <h3 class="footer__inner--title">Circuit</h3>
            <ul class="footer__inner--list">
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">About us</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Why Circuit</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Testimonials</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Promotions</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Blog</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Podcasts</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Forum</a></li>
            </ul>
        </div>

        <div class="footer__inner--column">
            <h3 class="footer__inner--title">Help</h3>
            <ul class="footer__inner--list">
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Contact us</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">Our Venues</a></li>
                <li class="footer__inner--item"><a href="#!" class="footer__inner--link">My account</a></li>
            </ul>
        </div>

        <div class="footer__inner--column">
            <h3 class="footer__inner--title">Newsletter</h3>
            <div class="footer__inner--form-input">
                <input type="text" class="footer__inner--input" placeholder="Email address" />
                <div class="footer__inner--btn btn">
                    <a href="#!" class="btn--text">Subscribe</a>
                </div>
            </div>

            <div class="footer__inner--row">
                <div class="footer__inner--column">
                    <span class="footer__inner--item"><a href="#!" class="footer__inner--link">Email us</a></span>
                    <span class="footer__inner--item"
                        ><a href="#!" class="footer__inner--link">email@gmail.com</a></span
                    >
                </div>

                <div class="footer__inner--column">
                    <span class="footer__inner--item"><a href="#!" class="footer__inner--link">Call us</a></span>
                    <span class="footer__inner--item"><a href="#!" class="footer__inner--link">000 1234 5678</a></span>
                </div>
            </div>

            <div class="footer__inner--row">
                <div class="footer__inner--wrap-img">
                    <img src="./assets/icons/face.svg" alt="" class="footer__inner--img" />
                </div>

                <div class="footer__inner--wrap-img">
                    <img src="./assets/icons/in.svg" alt="" class="footer__inner--img" />
                </div>

                <div class="footer__inner--wrap-img">
                    <img src="./assets/icons/twitter.svg" alt="" class="footer__inner--img" />
                </div>
            </div>
        </div>
    </div>
    <div class="footer__inner--separator"></div>
    <div class="footer__bottom">
        <!-- Logo -->
        <a href="/">
            <div class="header__logo">
                <img src="./assets/icons/logo.png" alt="" class="header__logo--icon" />
                <p class="header__logo--text">circuit</p>
            </div>
        </a>

        <!-- -->
        <img src="./assets/icons/Group 17750.png" alt="" class="footer__bottom--cooperate" />
        <span class="footer__bottom--copyright">Copyright © 2022 UIHUT all rights reserved.</span>
    </div>
</div>
