<div class="container">
    <div class="header__row">
        <!-- Logo -->
        <a href="/">
            <div class="header__logo">
                <img src="../assets/icons/logo.png" alt="" class="header__logo--icon" />
                <p class="header__logo--text">circuit</p>
            </div>
        </a>

        <!-- Navbar -->
        <div class="header__navbar">
            <ul class="header__navbar--list">
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/home.html')">Home</a>
                </li>
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/about.html')"
                        >About us</a
                    >
                </li>
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/resources.html')"
                        >Resources</a
                    >
                </li>
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/contact.html')"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>

        <!-- Log In/Sign Up -->
        <div class="header__wrap">
            <a href="./login.html" class="header__wrap--login">Log In</a>
            <div class="header__wrap--btn btn">
                <a href="./signup.html" class="header__wrap--link btn--text">Sign Up</a>
            </div>
        </div>
    </div>
</div>
