<div class="container">
    <div class="header__row">
        <!-- Logo -->
        <a href="/">
            <div class="header__logo">
                <img src="./assets/icons/logo.png" alt="" class="header__logo--icon" />
                <p class="header__logo--text">circuit</p>
            </div>
        </a>

        <!-- Navbar -->
        <div class="header__navbar">
            <ul class="header__navbar--list">
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/home.html')">Home</a>
                </li>
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/about.html')"
                        >About us</a
                    >
                </li>
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/resources.html')"
                        >Resources</a
                    >
                </li>
                <li class="header__navbar--item">
                    <a href="#" class="header__navbar--link" onclick="load('#content', './pages/contact.html')"
                        >Contact</a
                    >
                </li>
            </ul>
        </div>

        <!-- Profile-->
        <div class="profile">
            <img src="./assets/img/cat.jpg" alt="" class="profile__avt--img js-toggle" toggle-target="#dropdown" />

            <!-- Dropdown -->
            <div class="dropdown hide" id="dropdown">
                <div class="dropdown__inner">
                    <img src="./assets/icons/arrow-up.png" alt="" class="dropdown__inner--arrow" />
                    <div class="dropdown__inner--row">
                        <img src="./assets/img/cat.jpg" alt="" class="dropdown__inner--avt" />
                        <span class="dropdown__inner--name">Alexander Khôi</span>
                    </div>

                    <div class="dropdown__inner--separator">
                        <div class="dropdown__inner--separator-inner"></div>
                    </div>

                    <ul class="dropdown__inner--list">
                        <li class="dropdown__inner--item">
                            <img src="./assets/icons/profile.svg" alt="" class="dropdown__inner--icon" />
                            <span class="dropdown__inner--text">Edit Profile</span>
                        </li>

                        <li class="dropdown__inner--item">
                            <img src="./assets/icons/setting.svg" alt="" class="dropdown__inner--icon" />
                            <span class="dropdown__inner--text">Settings & Privacy</span>
                        </li>

                        <li class="dropdown__inner--item">
                            <img src="./assets/icons/help.svg" alt="" class="dropdown__inner--icon" />
                            <span class="dropdown__inner--text">Help & Support</span>
                        </li>

                        <li class="dropdown__inner--item">
                            <img src="./assets/icons/logout.svg" alt="" class="dropdown__inner--icon" />
                            <a href="./index.html" class="dropdown__inner--text">Logout</a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>
