html {
    // Background 
    --mint-green-color:#E0EAE5;
    --dark-green-color:#032E32;
    // Btn
    --btn-bg-color:#B5ED3D;
    --dark-green: brightness(0) saturate(100%) invert(13%) sepia(10%) saturate(6826%) hue-rotate(148deg) brightness(93%) contrast(98%);
}