.career-guide {
    padding:82px 0 100px;
    background-color: var(--mint-green-color);

    &__inner {
        display: flex;
        justify-content: space-between;
    }

    &__left {
        display: flex;
        justify-content: center;
        flex-direction: column;
        width: 100%;
        max-width: 570px;

        &--heading {
            color: var(--dark-green-color);
            font-size: 7.0rem;
            font-weight: 800;
            line-height:114.286% ; /* 114.286% */
        }

        &--desc {
            color: var(--dark-green-color);
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 166.667%; /* 166.667% */
        }

        &--text {
            display: block;
            color: var(--dark-green-color);
            font-size: 1.6rem;
            font-weight: 400;
            line-height:  175%; /* 175% */
            padding:20px 0;
        }

        &--article {
            display: block;
            color: #FF5F1A;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 166.667% ; /* 166.667% */
            margin-top: 40px;
            text-decoration: underline;
        }
    }

    &__right {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        &--img {
            position: absolute;
            bottom:50%;
            left:50%;
            transform: translate(-50%, 50%);
        }
    }
}

.search {
    background-color: var(--dark-green-color);
    padding:20px 0;
    
    &__inner {
        display: flex;
        align-items: center;
        justify-content: space-between;

        &--form-input {
            display: flex;
            align-items: center;
            gap:3px;
            width:100%;
            max-width: 300px;
            border-radius: 8px;
            background: #FFF;
            padding:8px;
        }

        &--list {
            display: flex;
            gap:38px;
        }

        &--item {
            transition: all 0.1s ease-in-out;

            &:active {
                transform: scale(0.8);
            }
        }

        &--link {
            position: relative;
            color: #fff;
            font-size: 1.8rem;
            font-weight: 400;
            line-height: 166.667%; /* 166.667% */

            &::after {
                content: "";
                position: absolute;
                bottom:0;
                left:50%;
                transform: translateX(-50%) scale(0);
                width:100%;
                height:2px;
                background-color:#fff;
                transition: all 0.3s ease-in-out;
            }

            &:hover::after {
                transform: translateX(-50%) scale(1);
            }
        }

        &--input {
            flex:1;
            background-color: transparent;
            padding:0 10px 0 7px;
        }
    }
}

.articles {
    background-color: #fff;
    padding:160px 0;

    &__inner {

        &--heading {
            width:100%;
            max-width: 570px;
            color: var(--dark-green-color);
            text-align: center;
            font-size: 4.2rem;
            font-weight: 800;
            line-height:123.81%; /* 123.81% */
            margin:0 auto;
            padding-bottom:70px;
        }
    }

    &__picture {
        position: relative;
        padding:24px;
        border-radius: 12px;
        border: 1px solid #D8E0E0;
        background: #FFF;

        &--coating {
            position: absolute;
            left:50%;
            bottom:24px;
            transform: translateX(-50%);
            border-radius: 12px;
        }

        &--group {
            position: absolute;
            bottom:48px;
            left:48px;
            width:100%;
            max-width: 322px;
        }

        &--title {
            color: #FFF;
            font-size: 2.0rem;
            font-weight: 700;
            line-height: 150%; /* 150% */
        }

        &--date {
            display: block;
            color: #FFF;
            font-size: 1.4rem;
            font-weight: 400;
            line-height: 171.429% ; /* 171.429% */
            padding:12px 0 16px;
        }

        &--desc {
            color: #FFF;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 175% ; /* 175% */
            padding-bottom: 22px;
        }

        &--read {
            color: #FFF;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 166.667%; /* 166.667% */
            text-decoration: underline;
        }
    }

    &__group {
        border-radius: 12px;
        border: 1px solid #D8E0E0;
        background: #FFF;
        padding:24px;

        &--inner {

        }

        &--img {
            width:100%;
            height:262px;
            object-fit: cover;
            border-radius: 12px;
        }

        &--title {
            color: var(--dark-green-color);
            font-size: 2.0rem;
            font-weight: 700;
            line-height:150%; /* 150% */
            padding-top:24px;
        }

        &--date {
            display: block;
            color: #91A1A1;
            font-size: 1.4rem;
            font-weight: 400;
            line-height:171.429%; /* 171.429% */
            padding:12px 0 16px;
        }

        &--desc {
            color: #4F5A5A;
            font-size: 1.6rem;
            font-weight: 400;
            line-height: 175% ; /* 175% */
            padding-bottom:22px;
        }

        &--read {
            color: #FF5F1A;
            font-size: 1.8rem;
            font-weight: 600;
            line-height: 166.667%; /* 166.667% */
            text-decoration: underline;
        }
    }

    &__btn {
        margin: 55px auto 0;
    }
}